/* _content/ASPMMA/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-atv171urcn] {
  white-space: normal;
  text-align: left;
}

a[b-atv171urcn] {
  color: inherit;
}

.btn-primary[b-atv171urcn] {
  color: #fff;
  background-color: #ff5b2e;
  border-color: #ff5b2e;
}

.nav-pills .nav-link.active[b-atv171urcn],
.nav-pills .show > .nav-link[b-atv171urcn] {
  color: #fff;
  background-color: #ff5b2e;
  border-color: #ff5b2e;
}

.border-top[b-atv171urcn] {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.border-bottom[b-atv171urcn] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.box-shadow[b-atv171urcn] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}

button.accept-policy[b-atv171urcn] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-atv171urcn] {
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
